<div class="data">
	<ul>
		<li>1</li>
		<li class="remove">2</li>
		<li>3</li>
		<li class="add">4</li>
	</ul>
</div>
<div class="code">
	<p>let numbers = [1, 2, 3]</p>

	<p>numbers.push(4)</p>

	<p class="broken"><span>numbers.remove(2)</span></p>
</div>


http://codepen.io/api/oembed/?url=http://codepen.io/FWeinb/pen/wjzyH&format=json&height=500
