.data {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	border: 3px solid blue;
	height: 400px;
	width: 300px;
	vertical-align: bottom;
	position: relative;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		left: 40px;
		animation: 7s moveDown infinite linear;

		li {
			display: inline-block;
			width: 50px;
			height: 50px;
			background-color: #00008b;
			color: #fff;
			text-align: center;
			box-sizing: border-box;
			font-weight: 700;
			font-size: 26px;
			line-height: 50px;

			&.add {
				animation: 7s added infinite linear;
			}
		}
	}
}

.code {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	border: 3px solid blue;
	height: 400px;
	vertical-align: bottom;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;

	p {
		margin: 20px;
		font-size: 26px;
		line-height: 50px;
		position: relative;
		height: 50px;

		&:before {
			content: "";
			height: 70px;
			position: absolute;
			opacity: 0.15;
			background-color: darkolivegreen;
			width: 613px;
			right: -20px;
			top: -10px;
			z-index: -1;
		}

		&.broken {
			position: relative;

			span {
				position: absolute;
				animation: 7s broken infinite linear;
			}
		}
	}
}

@keyframes added {
	0%   {
		opacity: 0;
	}
	20%   {
		width: 36px;
	}
	100% {
		opacity: 1;
		width: 36px;
		transform: scale(1);
	}
}

@keyframes moveDown {
	0% {
		top: 40px;
	}

	38% {
		top: 176px;
	}

	70% {
		top: 307px;
	}

	100% {
		top: 307px;
	}
}

@keyframes added {
	0% {
			opacity: 0;
			transform: scale(0);
	}

	38% {
			opacity: 0;
			transform: scale(0);
	}

	40% {
			opacity: 1;
			transform: scale(1);
	}

	80% {
			opacity: 1;
			transform: scale(1);
	}

	100% {
			opacity: 1;
			transform: scale(1);
	}
}

@keyframes broken {
	0% {
		transform: none;
		top: 0;
		left: 0;
	}

	69% {
		transform: none;
		top: 0;
		left: 0;
	}

	70% {
		transform: rotate(-30deg);
	}

	85% {
		transform: rotate(30deg);
	}

	100% {
		top: 307px;
		transform: rotate(90deg);
	}
}
