<div class="data">
	<ul>
		<li>2</li>
		<li class="remove">5</li>
		<li>9</li>
	</ul>
</div>
<div class="code">
	<p>var array = [2, 5, 9]</p>
	<p>var index = array.indexOf(5)</p>
	<p>if (index > -1) {</p>
	<p>array.splice(index, 1);</p>
	<p>}</p>
</div>
